
<div>
  <div>
    <h3>Administration</h3>
  </div>
  <ul class="nav">

    <li><%= link_to "Episodes",episode_index_path %></li>
    <li><%= link_to "Episode Types",episode_type_index_path %></li>
    <li><%= link_to "Categories",category_index_path %></li>
  </ul>
</div>