// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center_div{
  border: 1px solid #d8dee2;
  padding:20px;
  margin: 20px auto;
  max-width: 96%;
  width:25%; /* value of your choice which suits your alignment */
}